<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask application</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>
<body style = text-align:center>
<form action="{{url_for('login')}}" method ="POST">
    <h1>Login</h1>
    User:<input type ="text" name="un"><br>
    Pwd:<input type ="text" name="pwd"><br>
    <input type ="submit" value="Login"><br>
</form>
    <a href="/enternew">Create a new user</a><br><br><br>
    <a href="/list">View all users</a>
    
</body>
</html>